body {
    color: black;
    background-color: white;
    font-family: Ubuntu, "times new roman", times, roman, serif;
    font-size: 12pt;
    text-align: center
  }


img {
    width: 241px;
    height: 183.7625px;
}

/* Style for ChadBrowser text */
#chad-browser {
  position: fixed;
  top: 10px; /* Adjust the top and right values as needed */
  right: 10px;
  color: #FFF; /* Text color */
  background-color: #000; /* Background color */
  padding: 5px 10px; /* Padding for text */
  border-radius: 5px; /* Rounded corners */
  font-size: 16px; /* Font size */
  z-index: 9999; /* Ensure it's above other elements */
}


#note-section {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
  padding: 10px;
  font-family: Ubuntu, "times new roman", times, roman, serif;
}

#note-text {
  width: 80%;
  padding: 5px;
  font-family: Ubuntu, "times new roman", times, roman, serif;
}

#save-button {
  background-color: #b65fcf;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

/* Your CSS */
#note-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#note-text {
  flex: 1;
  height: 60px; /* Set the height to match the original height */
}

#save-button {
  height: 60px; /* Set the height to match the original height */
}




